.terraform/
*.tfstate
*.tfstate.*
tfplan
.DS_Store
__pycache__/
*.pyc
*.log
*.tmp
*.zip
*.actual.*
aws_credentials*
.env
local/.venv/
local/superset_home/
local/duckdb/*.duckdb
local/duckdb/*.wal
local/logs/
local/notebooks/.ipynb_checkpoints/
